{% extends "_template.twig" %}

{% block styles %}
<link rel="stylesheet" href="{{ rootURL }}/styles/button.css" />
<link rel="stylesheet" href="{{ rootURL }}/styles/form.css" />
<link rel="stylesheet" href="{{ rootURL }}/styles/formExtinguisher.css" />
{% endblock %}

{% block content %}
<main>
  <h1>Extintor</h1>

  <form action={{ url_for("save-extinguisher") }} method="POST">
    <input type="text" name="isUpdate" value="{{ isUpdate }}" hidden />

    {% if extinguisher and isUpdate == "yes" %}
    <div class="input-block">
      <label for="id">ID</label>

      <input id="id" name="id" type="number" value="{{ extinguisher.id }}" readonly />

      <ul class="input-errors">
        {% for error in idErrors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    <div class="input-block">
      <label for="idLocation">Local</label>

      <select id="idLocation" name="idLocation">
        <option value="">...</option>
        {% for location in locations %}
        {% if extinguisher and isUpdate == "yes" %}
        <option value="{{ location.id }}" {% if extinguisher.location.id==location.id %}selected{% endif %}>
          {{ location.description }}
        </option>
        {% else %}
        <option value="{{ location.id }}">
          {{ location.description }}
        </option>
        {% endif %}
        {% endfor %}
      </select>

      <ul class="input-errors">
        {% for error in locationErrors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
    </div>

    <div class="input-block">
      <label for="validate">Validade</label>

      {% if extinguisher and extinguisher.validate %}
      <input id="validate" name="validate" type="date" value="{{ extinguisher.validate|date('Y-m-d') }}" />
      {% else %}
      <input id="validate" name="validate" type="date" />
      {% endif %}

      <ul class="input-errors">
        {% for error in validateErrors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
    </div>

    <div class="actions-block">
      {% if extinguisher and isUpdate == "yes" %}
      <button class="button-yellow" type="submit">Atualizar</button>

      <a class="button button-red" href={{ url_for("delete-extinguisher", { "id" : extinguisher.id }) }}>
        Excluir
      </a>
      {% else %}
      <button class="button-green" type="submit">Cadastrar</button>
      {% endif %}
    </div>
  </form>
</main>
{% endblock %}
